# Expo
.expo/
dist/
web-build/

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local config
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Metro
.metro-health-check*

# Testing
coverage/
